.font	{
	width: 400px;
	height: 550px;
	background-color: #ffffff;

}

.header {
	width: 380px;
	height: 530px;
	border: 2px solid #5a5a5a;
	vertical-align: middle;
	text-align: center;

}

.text {
	font-family: Tahoma;
	font-size: 22px;
	align-items: center;
	text-align: center;
	
	font-family: Tahoma;
	font-weight: 600;

}

img {
	vertical-align: middle;
}

.sale {
	position: absolute;
	width: 190px;
	height: 31px;
	background-color: #8bc144;
	
	color: white;
	box-shadow: 0 3px 3px 0 #9c9c9c;
	}

.sale p {
	font-size: 22px;
	font-family: Tahoma;
	position: absolute;
	text-align: center;
	top: -20px;
	left: 35px;
	font-weight: bold;

	
	
}

.price {
	font-size: 29px;
	font-family: Tahoma;
	line-height: 0.839;
	position: absolute;
	text-align: center;
	left: 135px;
	z-index: 5;
	top: 410px;
	font-weight: bold;

}

.footer {
	width: 229px;
	height: 46px;
	background-color: #ff0000;
	position: absolute;
	top: 488px;
	left: 81px;
	box-shadow: 0 4px 0px 0 #850000;
	color: white;
	font-weight: bold;
	
	font-family: Tahoma;
	text-align: center;
	text-shadow: 0.5px 0.866px 0px black;
	font-size: 28px;


}

.footer p {
	margin: 5px;
}